body{
	margin: 0;

	font-family: 'Roboto', sans-serif; /* ??????????????????? */
	font-size: 15px;

	line-height: 1.5;

	color: #fff;
}

*,
*after,
before{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.form {
    border: 3px solid #e9e5e5;
}

.form_content{
	width: 100%;
	max-width: 450px;

    padding: 40px 55px;

    text-align: center;
}

.form_title{
    font-size: 35px;
    color: #627071;

	margin-bottom: 35px;
	margin-top: 10px;
}

.user_input, .pswd_input{
    display: inline-block;

    width: 100%;

    padding: 12px 20px;
    margin: 8px ;

    border: 1px solid #b8d3c0;
    box-sizing: border-box;
}

.submit_btn{
    background-color: #4CAF50;
    color: #fff;

    padding: 15px 20px;
    margin: 45px auto;

    border: none;
    cursor: pointer;

    width: 45%;
}

.submit_btn:hover{
    opacity: 0.9;
}
