body{
	margin: 0;

	font-family: 'Roboto', sans-serif; /* ??????????????????? */
	font-size: 15px;

	line-height: 1.5;

	color: #fff;
}

*,
*after,
before{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.container{
	width: 100%;
	max-width: 1200px;

	margin: 0 auto;
}

/* Header */
.header{
	width: 100%;

	position: absolute;

	z-index: 1;

	margin-top: 40px;
}

.header_line{
	display: flex;
	flex-direction: column;

	justify-content: center;

	background: #154360;

	width: 100%;
	height: 45px;
}

.header_content{
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.header_logo{
	background: url("../images/header/test.png") no-repeat center;
	background-size: cover;

	width: 120px;
	height: 120px;
}

/* Nav */
.nav{
	text-transform: uppercase;
	font-size: 14px;
}

.nav_link{
	display: inline-block;

	text-decoration: none;
	color: #fff;

	margin: 0 16px;

	transition: color 0.2 linear;
}

.nav_link:after{
	display: block;

	content: "";
	background: #97d6d8;

	width: 100%;
	height: 2px;

	opacity: 0;
	transition: opacity 0.2 linear;
}

.nav_link:hover{
	color:#97d6d8 /* ?????????????? */;
}

.nav_link:hover:after{
	opacity: 1;
}

/*Intro*/
.intro{
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;

	justify-content: center;

	background: url("../images/intro/intro_background.jpg") no-repeat center;
	background-size: cover;
}

.intro_content{
	margin: 0 auto;
	text-align: center;

	width: 100%;
	max-width: 1200px;
}


.intro_title{
	margin-top: 80px;

	font-size: 95px;
	font-family: 'Roboto', sans-serif;

	text-transform: uppercase;
	color: #fff;

	padding-top: 20px;
}

.intro_title:after{ /* Bottom Line */
	content: "";

	display: block;

	width: 100px;
	height: 3px;

	margin: 30px auto 0;

	background: #fff;
}

.intro_btn{
	display: inline-block;

	font-size: 14px;

	color: #fff;
	border: 3px solid #fff;

	text-decoration: none;
	text-transform: uppercase;

	margin-top: 60px;
	padding: 10px 20px;
}

.intro_btn:hover{
	background: #fff;
	color: #17a6ac;
}

/*Main infa*/
/*.background{
	width: 100%;
	height: 100%;

	background: url("../images/about/about_background7.jpg") no-repeat center;
	background-size: cover;
}*/

/*About*/
.all_about{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about{
	display: flex;

	width: 100%;
	height: 100vh;

	color: #fff;

	background: url("../images/about/about_background_reverse.jpg") no-repeat center;
	background-size: cover;
}

.about_header{
	display: flex;
	justify-content: center;

	margin-top: 80px;
}

.about_head_title{
	font-size: 30px;
	font-weight: 700;

	color: #fff;

	margin: 0 auto;
}

.about_head_title:after{
	display: block;
	content: "";

	background: #fff;

	width: 100%;
	height: 3px;

	margin-top: 10px;
}

.about_head_arrow{
	background: url("../images/arrow/arrow_white.png") no-repeat center;
	background-size: cover;

	height: 30px;
	width: 40px;
}

.about_content{
	display: flex;
	justify-content: center;

	width: 100%;
	height: 100%;

	margin-top: 100px;
	margin-bottom: 0px;
}

.about_item{
	width: 50%;
}

.about_image{
	width: 600px;
	height: 400px;

	background: url("../images/about/lyceum2.jpg") no-repeat center;
	background-size: cover;
}

.about_inner{
	padding: 15px 20px;
}

.about_title{
	margin-bottom: 15px;

	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.about_text{
	font-size: 20px;
	padding-left: 20px;
}

.about_text_p{
	text-indent: 10px;
}

/*Advantage*/
.advantage{
	display: flex;

	width: 100%;
	height: 100vh;

	background: url("../images/advantage/advantage_background.jpg") no-repeat center;
	background-size: cover;
}

.advantage_header{
	display: block;

	text-align: center;

	margin: 0 auto;
}

.advantage_head_title{
	font-size: 30px;
	font-weight: 700;

	color: #fff;

	margin: 0 auto;
}

.advantage_head_title:after{
	display: block;
	content: "";

	background: #fff;

	width: 150px;
	height: 3px;

	margin: 0 auto;
	margin-top: 10px;
}

.advantage_head_subtitle{
	font-size: 16px;
	font-family: 'Kaushan Script', cursive;

	margin: 0 auto;
}

.advantage_head_arrow{
	display: flex;
	width: 100%;

	background: url("../images/arrow/arrow_white.png") no-repeat center;
	background-size: cover;

	height: 30px;
	width: 40px;
}

.advantage_content{
	display: flex;
	justify-content: center;

	height: 100%;
	width: 100%;
}

.advantage_item{
	width: 50%;
}

.advantage_block{
	display:flex;
	flex-direction;
	justify-content: space-between;

	margin: 70px 20px;
}

.advantage_inner{
	display:flex;
	justify-content: center;

	width: 100%;
}

.advantage_post_icon{
	width: 90px;
	height: 90px;
}

.advantage_post_title{
	font-size: 16px;
	font-weight: 700;

	padding: 0px 20px 10px;
}

.advantage_post_text{
	width: 100%;
	height: 100%;

	padding: 0px 20px;

	color: #fff;
}

.advantage_post_text:before{
	display: block;
	content: "";

	background: #fff;

	width: 100%;
	height: 3px;

	margin-bottom: 15px;
}

/*Admission*/
.admission{
	display: flex;

	background: url("../images/admission/admission_background_reverse.jpg") no-repeat center;
	background-size: cover;

	width: 100%;
	height: 100vh;
}

.admission_header{
	display: block;

	text-align: center;

	margin: 0 auto;
	margin-top: 60px;
}

.admission_head_arrow{
	display: flex;
	width: 100%;

	background: url("../images/arrow/arrow_white.png") no-repeat center;
	background-size: cover;

	height: 30px;
	width: 40px;
}

.admission_head_title{
	font-size: 30px;
	font-weight: 700;

	color: #fff;

	margin: 0 auto;
}

.admission_head_title:after{
	display: block;
	content: "";

	background: #fff;

	width: 150px;
	height: 3px;

	margin: 0 auto;
	margin-top: 10px;
}

.admission_head_subtitle{
	font-size: 16px;
	font-family: 'Kaushan Script', cursive;

	color: #fff;

	margin: 0 auto;
}

.admission_content{
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 8%;
}

.admission_item{
	width: 25%;
}
.admission_item_linking{
	width: 15%;
}

.admission_item_element{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.admission_item_element_text{
	padding-left: 50px;

	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
}

.admission_item_element_icon{
	width: 300px;
	height: 300px;
}

.admission_item_linkingline{
	width: 150px;
	height: 50px;
}

/* Documents */
.documents{
	display: flex;

	background: url("../images/admission/admission_background2.jpg") no-repeat center;
	background-size: cover;

	width: 100%;
}

.documents_header{
	display: block;

	text-align: center;

	margin: 0 auto;
	margin-top: 60px;
}

.documents_head_arrow{
	display: flex;
	width: 100%;

	background: url("../images/arrow/arrow_black.png") no-repeat center;
	background-size: cover;

	height: 30px;
	width: 40px;
}

.documents_head_title{
	font-size: 30px;
	font-weight: 700;

	color: #333;

	margin: 0 auto;
}

.documents_content{
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
}

.documents_item{
	width: 50%;
	color: #333;
}
