body{
	margin: 0;

	font-family: 'Roboto', sans-serif; /* ??????????????????? */
	font-size: 15px;

	line-height: 1.5;

	color: #627071;
}

*,
*after,
before{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

/* Back */
.back{
    position: absolute;

    margin-left: 40px;
    margin-top: 40px;
}

.back_img{
    width: 70px;
    height: 70x;
}

/* Login */
.main{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    text-align: center;
}

/* Form */
.form {
    border: 3px solid #e9e5e5;

    padding: 40px 55px;

    text-align: center;
}

.form_title{
    font-size: 35px;

	margin-bottom: 45px;
	margin-top: 10px;
}

/* Select */
.type{
    display: flex;

    margin-bottom: 25px;
    margin-left: 10px;

    font-size: 16px;
}

.type_title{
    padding-right: 5px;
}

.user_input, .pswd_input{
    width: 100%;

    padding: 12px 20px;
    margin: 8px ;

    box-sizing: border-box;
}

/* Footer */
.footer{
    display: flex;
    justify-content: flex-end;

    margin-top: 40px;
}

.reg_link{
    text-decoration: none;
}

/* Submit btn */
.submit_btn{
    background-color: #4CAF50;
    color: #fff;

    padding: 15px 20px;
    margin: 45px auto;

    border: none;
    cursor: pointer;

    width: 45%;
}

.submit_btn:hover{
    opacity: 0.9;
}
